<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%=artist %> - <%=type %></title>
  <link type="text/css" rel="stylesheet" href="/assets/styles/styles.css">
</head>

<body>
  <a href="http://localhost:2000/artists">Back to artists</a>
  <h1><%=artist %></h1>
  <h2><%=type %></h2>

  <table class="entries-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Original Release Date</th>
      </tr>
    </thead>
    <tbody>
      <% entries.map(entry => { %>
        <tr>
          <td class="entry-name"> <%=entry.name %> </td>
          <td class="entry-date"><%=entry.release_date %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</body>
</html>
